body{
 margin: 20px; 
 font-family: serif, 'Times New Roman', Times, serif; 
 background-color:wheat;  
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 5px;
}
nav{
    justify-content: space-between;
    display: flex;
    background-color: black;
    color:rgb(183, 194, 202) ;
    padding: 15px;
}
.menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-left: 100px;
}
.menu li {
    font-size: 12px;
    text-align: center;
    list-style: none;
    padding-left: 20px;
    padding-right: 50px;
}
.menu li:hover {
    color:rgb(30 120 7);
}
h1{
    color:rgb(30 120 7);
    font-size: 30px;
    text-align: center;
}
h2{
    font-size: 20px;
    color:rgba(118, 120, 7, 0.685);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
} 
.well{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    align-content: center;
    flex-wrap:wrap;
    border-radius: 20px;
    }
    .test{
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        align-content: center;
        margin-left: 100px;
        flex-wrap:wrap;
        border-radius: 20px;
        }
        .you{
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
            align-content: center;
            margin-left: 100px;
            flex-wrap:wrap;
            border-radius: 20px;
            }
h3{
    display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        align-content: center;
        margin-left: 100px;
        flex-wrap:wrap;
        border-radius: 20px;
        }
        @media (max-width:726px){
        .services{
            display: block;
            text-align: center;
            align-items: center;
            justify-content: center;

        }
        }
        .me{
            display:flex
        }
        .third{
            height: 150px;
            width: 150px;
            border-radius: 40px;
            display: flex;
            position: relative;
            margin-left: 100px;
            flex-wrap:wrap;
        }
     
